<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATOP</title>
</head>
<body>
    <h1>ATOP</h1>
    <h2>New Post</h2>
    <form action="/newpost" method="POST">
        <textarea name="postbody" placeholder="Enter post Here"></textarea><br/>
        <input type="submit" value="Submit">
    </form>
    <a href="/">Home</a>

    <h2>Posts</h2>
    <%for(let post of posts){%>
        <ul>
            <li>
                <%= post %>
            </li>
        </ul>
    <%}%>
</body>
</html>